<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full min-h-screen bg-black p-10 text-white flex justify-center">
    <div class="w-[1200px]">
        
        <div class="navbar border-[1px] border-gray-600 backdrop-blur-lg rounded-2xl px-7 py-7 flex justify-between sticky items-center">
            <span class="text-2xl text-bold">MediaPost</span>
            <img src="" class="w-[30px] h-[30px] rounded-full" id="profileImage" alt="logo">
        </div>

        <div class="container flex flex-col justify-center items-center p-20 gap-4">
            <h3 class="text-gray-300 text-3xl text-medium text-center">Welcome to</h3>
            <h2 class="tracking-tight text-6xl md:text-7xl xl:text-8xl text-center font-bold my-2"><span class="font-bold bg-gradient-to-b from-blue-400 to-blue-700 bg-clip-text text-transparent">Media</span>Post.</h2>
            <p class="text-gray-200 max-w-lg text-center md:text-lg text-xl">A platform where you'll find the right content to help you improve your skills and grow your knowledge.</p>
    <a class="bg-blue-600 rounded-2xl px-20 py-3 text-xl text-semibold" href="/signup">Explore more</a>

        </div>
    </div>
    <script>
        const profileImage = document.getElementById('profileImage')
        const image = localStorage.getItem("image");
        profileImage.setAttribute('src', image)
        console.log(image)
    </script>
</body>
</html>